spring:
  application:
    name: demo
  datasource:
    url: jdbc:postgresql://localhost:5432/gradproj
    username: postgres
    password: 1234
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        show_sql: true
        format_sql: true

  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB

logging:
  level:
    org.hibernate.SQL: debug

server:
  tomcat:
    baseDir: C:\Users\sa\Documents\gradprod\grad-project\backend\src\main\resources
  ssl:
    key-store: "classpath:keystore.p12"
    key-store-type: PKCS12
    key-store-password: yeon0906
  port: 8443